@import url("https://fonts.googleapis.com/css?family=Bitter:700");

.logoOuterContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide 1s linear 4s;
  animation-fill-mode: forwards;

}
.logoInnerContainer{
  width: 20em;
  height: 16.2em;
  position: relative;
}
.textAnimationOuterContainer{
  background-image: url(/static/media/granola.0cce3d5f.jpg);
  position: absolute;
  left: -2em;
  width: 120%;
  height: 56%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: slideImage 2s linear;
  animation: slideImage 2s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.jeffText{
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  font-weight: bold;
  width: 120%;
  height: 100%;
  mix-blend-mode: screen; /* This makes the cutout text possible */
  animation: slideText 2s linear;
  animation-fill-mode: forwards;
}
.jeffText > h1 {
  font-family: 'Bitter', serif;
  font-size: 6.5em;
  width: 2.53em;
  position: absolute;
  left: 0.55em;
}
.colorPlane{
  background: #bf1515;
  width: 100%;
  height: 100%;
  opacity:.3;
  animation: colorChange 2s linear;
  animation-fill-mode: forwards;
}
.granolaText{
  color: black;
  position: absolute;
  top: 6.9em;
  left: 3.25em;
  opacity: 0;
  animation: show 2.5s linear 1.5s;
  animation-fill-mode: forwards;
}
.granolaText > h1 {
  font-size: 2.7em;
  letter-spacing: 0.08em;
}
.allProfitsText{
  position: absolute;
  top: 12.5em;
  text-align: center;
}

.allProfitsText > h1 {
  font-size: 1.35em;
  font-weight: 900;
  letter-spacing: 0.07em;
  line-height: 1.4em;
  font-family: sans-serif;
  opacity: 0;
  animation: show .7s linear 2.8s;
  animation-fill-mode: forwards;
}
.box{
  width: 30em;
  height: 30em;
  position: absolute;
  top: -10.2em;
  left: -4.3em;
  transform: scaleY(0.9);
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 1.7s linear 1.1s;
  animation-fill-mode: forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes slideText {
  from {transform:translateX(0%);}
  to {transform:translateX(-3em);}
}

@keyframes slideImage {
  from {transform:translateX(0%);}
  to {transform:translateX(3em);}
}

@keyframes colorChange {
  from {opacity: .3;}
  to {opacity: 1;}
}

@keyframes show {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes hide {
  from {opacity: 1;}
  to {opacity: 0;}
}
